/*:root {
    --primary-100:#FF7F50;
    --primary-200:#dd6236;
    --primary-300:#8f1e00;
    --accent-100:#8B4513;
    --accent-200:#ffd299;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#F7EEDD;
    --bg-200:#ede4d3;
    --bg-300:#c4bcab;
      
  }

 * {  
    padding: 1px!important;
    margin: 5px !important ;
    box-sizing: border-box !important;
  }
  
  .body {
    background-attachment: scroll !important;
    background-clip:border-box !important;  
    background-origin: padding-box !important;
    background-size: auto !important;
    background-repeat: repeat!important;
    flex-direction: column !important;
    align-items: center !important; 
    justify-content: flex-start !important; 
    max-width: 95vh !important;
    max-height: 100vh !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px!important;
    max-width: 100% !important ;
    max-height: 98% !important ;
    padding: 1px!important;
    background-color: var(--bg-200)!important;
    color: var(--primary-100) !important;
    transition: all 0.4s ease-out!important;
    flex-direction: column !important;
  }
  
  html {
    font-family: 'Roboto', sans-serif!important;
    font-size: 18px!important;
    color: var(--text-200)!important;
    height: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
  }

  #app.container {
    max-width: 98%!important;
    position: center !important;
    position: relative !important;
    transform: translate(-50%, -50%)!;
    position: 10px!important ;
    width: 100% !important; ;
    min-height:128px !important;
    margin:10px !important;
    overflow:hidden !important;
    overflow-y:auto !important;
  }

  .button-row{
    justify-content: space-between!important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center!important;
    gap: 10px!important;
    margin-top: 10px!important;
  }

  .btn{
    min-height:250px !important;
    min-width: 100px ; 
  }

  .btn-primary{
    flex: 2 !important;
    min-width: 380px !important;
    background-color:var(--primary-100)!important;
    border-color:var(--accent-100)!important;
  }
  
  .btn-secondary{
    flex: 1 !important;
    background-color: var(--primary-200)!important;
    border-color:var(--accent-200)!important;
    }
    
    .space{
    flex: 1!important;
    }

  .container1 {
    background-color: var(--primary-300)!important;
    width: 100%!important;
    min-height: 100vh!important;
    padding: 10px!important;
    color: var(--text-200)!important;
    transition: all 0.4s ease-out!important;
  }
  
  .container2 {
    margin: 2%!important;
    background-color: var(--accent-100)!important;
    border-radius: 10px!important;
    border-color: var(--primary-100)!important;
    align-self: center!important;
    justify-content: space-between!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    gap: 2%!important;
    flex-wrap: wrap!important;
    margin-top: 1rem!important;
  }
  
  .container2 button {
    min-height:250px !important;
    min-width: 100px !important; 
    flex: 1!important;
    max-width: 40%!important;
  }
  
  .btn-secondary,
  .btn-primary {
    margin: 1%!important;
    position: relative!important;
    justify-content: space-between!important;
  }
  
  .container,
  .container1,
  .container2 {
    overflow: visible!important;
    margin: 2px!important;
    overflow: auto!important;
    border: 0.5px solid var(--primary-200)!important;
  }
  
  .slider-container {
    display: flex!important;
    align-items: center!important;
    margin-left: 10px!important;
    flex-direction: column!important;
  }
  
  .slider-container label {
    margin-bottom: 10px!important;
  }
  
  .slider-container input[type="range"] {
    writing-mode: bt-lr!important; 
    -webkit-appearance: slider-vertical!important;
    width: 8px!important;
    height: 150px!important;
  }
  
  .slider-container span {
    margin-top: 10px!important;
  }
  
  .language-flag {
    cursor: pointer!important;
    width: 32px!important;
    height: 32px!important;
    margin-left: 10px!important;
  }
  .language-flag {
    cursor: pointer!important;
    width: 32px!important;
    height: 32px!important;
  }
    
  #app.n-topology-blue{
    max-width: 60vh !important;
    max-height: 40vh !important;
    overflow-y:auto !important;
    position: center !important;
    position: relative !important;
    transform: translate(-50%, -50%)!important;
    position: 10px!important;
    margin:15px !important;
    overflow: visible!important;
    flex-direction: column !important;
  }*/