:root {
  --primary-100: #1F3A5F;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3D5A80;
  --accent-200: #cee8ff;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #0F1C2E;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
}

* {
  box-sizing: border-box;
  padding: 1px;
  margin: 1%;
  background-color: var(--bg-200) !important
}

.body {
  margin: 1%;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--bg-200)!important;
  color: var(--primary-100);
  transition: all 0.4s ease-out;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--text-200)!important;
  height: 100%;
  margin: 1;
  padding: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  background-color: var(--primary-300)!important;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  color: var(--text-200);
  transition: all 0.4s ease-out;
}

.language-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}

.container2 {
  margin: 2%;
  background-color: var(--accent-100)!important;
  border-radius: 10px;
  border-color: var(--primary-100)!important;
  align-self: center;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.container2 button {
  flex: 1;
  max-width: 40%;
}

.btn-secondary,
.btn-primary {
  margin: 1%;
  position: relative;
  justify-content: space-between;
}

.container,
.container1,
.container2 {
  margin-top: 2% ;
  margin: 1%;
  overflow: auto;
}

.container,
.container1,
.container2 {
  border: 0.5px solid var(--primary-200)!important;
}
