:root {
  --primary-100: #1F3A5F;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3D5A80;
  --accent-200: #cee8ff;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #0F1C2E;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--bg-200);
  color: var(--primary-100);
  transition: all 0.4s ease-out;

}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--text-200);
  height: 100%;
  margin: 1;
  padding: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  background-color: var(--primary-300);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  color: var(--text-200);
  transition: all 0.4s ease-out;
}

/* Toggle Button */
#toggle {
  -moz
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--text-200);
  position: absolute;
  top: 50px;
  right: 50px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

/* Making a dot switch inside the Toggle Button */
#toggle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--bg-300);
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

/* Changing toggle button background when checked */
#toggle:checked {
  background: var(--accent-200);
}

/* Changing dot switch color and moving to the right side when checked */
#toggle:checked::before {
  background: var(--text-200);
  left: 32px;
}

/* Changing the background & font color when checked */
#toggle:checked ~ .container {
  background-color: var(--bg-200);
  color: var(--text-200);
}

.language-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}

.container2 {
  margin: 2%;
  background-color: var(--accent-100);
  border-radius: 10px;
  border-color: var(--primary-100);
  align-self: center;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.container2 button {
  flex: 1;
  max-width: 40%;
}

.btn-secondary,
.btn-primary {
  margin: 2%;
  position: relative;
  justify-content: space-between;
}

.container,
.container1,
.container2 {
  margin: 10px;
  overflow: auto;
}

.container,
.container1,
.container2 {
  border: 0.5px solid var(--primary-200);
}
